.sidebar {
  width: 250px;
  background-color: #e0f2f1;
  padding: 1rem;
  border-right: 1px solid #b2dfdb;
}

.animalList {
  list-style: none;
  padding: 0;
}

.animalItem {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  transition: background-color 0.3s;
}

.animalItem:hover,
.active {
  background-color: #b2dfdb;
}


@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #b2dfdb;
  }

  .animalItem {
    margin-bottom: 0.3rem;
  }
}

  