.index {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrapper {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 250px;
  padding: 1rem;
  background-color: #f0f0f0;
}

.main {
  flex: 1;
  padding: 1rem;
}


@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ccc;
  }

  .main {
    padding-top: 0.5rem;
  }
}

  
  
  