.card {
  border: 1px solid #275f1f;
  padding: 1rem;
  border-radius: 8px;
  background-color: rgb(215, 226, 141);
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.thumb {
  width: 100%;
  max-width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease;
}

.fullImage {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.name {
  font-size: 1.25rem;
  font-weight: bold;
}

.description {
  color: #333;
}

.readMore {
  background-color: #80b7b1;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 4px;
}

.readMore:hover {
  background-color: #004d40;
}

.groupLink {
  display: inline-block;
  margin-top: 0.5rem;
  color: #0b3d91;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .thumb {
    height: 140px;
  }

  .fullImage {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .thumb {
    height: 120px;
  }
}
